@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Menu</h2>
        <ul>
            <li><a asp-area="" asp-controller="Tenants" asp-action="Index">Tenant</a></li>
            <li><a asp-area="" asp-controller="Officers" asp-action="Index">Officer</a></li>
            <li><a asp-area="" asp-controller="RoomTypes" asp-action="Index">RoomType</a></li>
            <li><a asp-area="" asp-controller="Rooms" asp-action="Index">RoomType</a></li>
            <li><a asp-area="" asp-controller="ContractForms" asp-action="Index">ContractForm</a></li>
            <li><a asp-area="" asp-controller="Contracts" asp-action="Index">Contract</a></li>
        </ul>
    </div>
</div>
