@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Menu</h2>
        <ul>
            <li><a asp-area="" asp-controller="Tenants" asp-action="Index">Tenant</a></li>
            <li><a asp-area="" asp-controller="Officers" asp-action="Index">Officer</a></li>
            <li><a asp-area="" asp-controller="Contacts" asp-action="Index">Contact</a></li>
        </ul>
    </div>
</div>
